{% load staticfiles %}

<html>
  <head>
    <link href="{% static 'yale_class_recs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'yale_class_recs/lib/css/mod-starter-template.css' %}" rel="stylesheet" media="screen">
  </head>

  <body id="top">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/yale_class_recs">Eli: The Smart Course Assistant</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#top">Home</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="#Contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <script src="{% static 'yale_class_recs/bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>