{% extends "yale_class_recs/base.html" %}

{% block content %}
  <div class="course_info">
      <h1>{{ course.longTitle }}</h1>
      <div class="row">
        <div class="col-md-12">
          <h3>Course Description</h3>
          <p><b>{{ course.subject }} {{ course.num }}</b></p>
          <p>{{ course.descrip }} </p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <b>Time:</b> {{ course.time }} 
        </div>
        <div class="col-md-6"><b>Skills/Area:</b>
          {% if course.dist1 %}
           {{ course.dist1|slice:"-2:" }} {{ course.dist2|slice:"-2:" }} {{ course.dist3|slice:"-2:" }}
          {% elif course.dist2 %}
           {{ course.dist1|slice:"-2:" }} {{ course.dist2|slice:"-2:" }} {{ course.dist3|slice:"-2:" }}
          {% elif course.dist3 %}
            {{ course.dist1|slice:"-2:" }} {{ course.dist2|slice:"-2:" }} {{ course.dist3|slice:"-2:" }}
          {% else %}
            None
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3>Explanation</h3>
          <p>{{ explanation }}</p>
        </div>
        <div class="col-md-6">
          <h3>Course Data</h3>
          <p><b>Rating:</b> {{ course.average_rating|floatformat:-2 }}</p>
          <p><b>Difficulty:</b> {{ course.average_difficulty|floatformat:-2 }}</p>
          <p><b>Size (Last time it was taught):</b> {{ course.num_students }}</p>
        </div>
      </div>
      <br>
      <a class="btn btn-lg btn-default container btn-primary" href="/yale_class_recs/search/" onClick="history.go(-1);return true;">Back To Search</a>
  </div>
  <br>
{% endblock %}

