{% extends "yale_class_recs/base.html" %}

{% block content %}

  
  <div class="course_info">
      <h1>{{ course.longTitle }}</h1>
      <h3>Course Description</h3>
      <p>{{ course.subject }} {{ course.num }}</p>
      <p>{{ course.descrip }} </p>
      <p><b>Time:</b> {{ course.time }}</p>
      <p>
      <b>Skills/Area:</b>
      {% if course.dist1 %}
       {{ course.dist1|slice:"-2:" }} {{ course.dist2|slice:"-2:" }} {{ course.dist3|slice:"-2:" }}
      {% elif course.dist2 %}
       {{ course.dist1|slice:"-2:" }} {{ course.dist2|slice:"-2:" }} {{ course.dist3|slice:"-2:" }}
      {% elif course.dist3 %}
        {{ course.dist1|slice:"-2:" }} {{ course.dist2|slice:"-2:" }} {{ course.dist3|slice:"-2:" }}
      {% else %}
        None
      {% endif %}
      </p>
      <h3>Explanation</h3>
      <p>This class is a great fit for you.</p>
      <h3>Course Data</h3>
      <p><b>Rating:</b> {{ course.average_rating|floatformat:-2 }}</p>
      <p><b>Difficulty:</b> {{ course.average_difficulty|floatformat:-2 }}</p>
      <p><b>Size (Last time it was taught):</b> {{ course.num_students }}</p>
  </div>

{% endblock %}

