{% extends "yale_class_recs/base.html" %}

{% block content %}

<style>
ul
{
	list-style-type: none;
}
textarea
{
	vertical-align: top;
}
select
{
	vertical-align: top;
}
form p
{
	padding-bottom: 10px;
}
</style>

<h1>Search</h1>
<p>Let's begin. Fill out the form below with all of your preferences. Based on your responses, you'll be provided with course recommendations and an explanation of why they were chosen for you. If you leave any of the optional fields blank, they simply won't factor into the decision.</p>

<form action="/yale_class_recs/search/" method="post">
    {% csrf_token %}
    <h2>Course Preferences</h2>
    {{ form.as_p }}
    <h2>Category Importance</h2>
    <p>Please select how important each factor is to you on a scale from 0-10. A selection of 0 means a given factor will not be considered in picking a class, while a score of 10 means your selection for that category will absolutely be reflected in the class chosen.</p>
    {{ form2.as_p }}
    <div class="container" style="padding-top: 25px">
    	<span><input type="submit" value="Submit" class="btn btn-success btn-lg btn-default"/></span>
	</div>
</form>
<br><br>

{% endblock %}
