{% extends "yale_class_recs/base.html" %}

{% block content %}
<h1>Welcome, {{ first_name }}.</h1>
<p>Thanks for using Eli, the first automated course recommendation system available at Yale.</p>

<div style="padding-top:10px">
	<h4>Worksheet</h4>
	<p>View the courses you have saved in your schedule.</p>
	<a href="/yale_class_recs/worksheet" class="btn btn-md btn-default">View</a>
</div>

<div style="padding-top:20px">
	<h4>Search</h4>
	<p>Search for new classes using our matching engine.</p>
	<a href="/yale_class_recs/info" class="btn btn-md btn-default">New Search</a>
</div>

<div style="padding-top:20px">
	<h4>My Info</h4>
	<p>First Name: {{ first_name }}</p>
	<p>Last Name: {{ last_name }}</p>
	<p>Class Year: {{ grad_year }}</p>
	<p>Major: {{ major }}</p>
	<a href="/yale_class_recs/accounts/edit_info" class="btn btn-md btn-default">Edit Info</a>
</div>

{% endblock %}